<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millery.mapper.UserMapper">
	<select id="updatePwd" parameterType="java.util.Map">
		update tb_user set password = #{password} where id = #{id}
	</select>
	<select id="deleteTbUser" parameterType="Long">
		delete tb_user where id = #{id}
	</select>

	<select id="queryTbUserList" parameterType="java.util.Map"
		resultType="TbUser">
		SELECT * from tb_user
		<where>
			<if test="column !=null and keyWord !=null">
				${column} like #{keyWord}
			</if>
		</where>
		LIMIT #{start},#{lineSize}
	</select>

	<select id="queryTbMoudleList" resultType="TbMoudle">
		select * from tb_moudle
	</select>
	<select id="updateUrlName" parameterType="java.util.Map">
		update tb_moudle set name = #{name} where id = #{id}
	</select>
	
	<select id="queryUserMessage" parameterType="Long">
		select u.id,u.userName,u.realName,r.roleName,g.classYear,g.classNum,g.classType
		from tb_user u,tb_role r,tb_group g 
		where u.roleId = r.id and u.groupId=g.id and u.id=#{id}
	</select>
</mapper>